{% if completar %}
    <br>
    Hola,
    <br>
    <br>
    Adjunto documentación para preparar firma del cliente de referencia.
    <br>
    <br>
    <h2>PREPARACIÓN FIRMA</h2>                 
    <br>
    <br>       
    
    <h4>1.-DATOS COMPRADOR:</h4>
    <br>
    <br>
    
    NOMBRE:<br>
    ESTADO CIVIL:<br>
    DNI:<br>
    FECHA NACIMIENTO:<br>
    ¿SERÁ DOMICILIO HABITUAL?<br>
    <br>
    <br>
    
    <h4>2.-DATOS VENDEDOR:</h4>
    <br>
    <br><br>
    NOMBRE:
    ESTADO CIVIL:<br>
    DNI:<br>
    ¿RESIDE EN EL EXTRANJERO?:<br>
    
    
    <br>
    <br>
    <h4>3.-OPERACIÓN:</h4>
    <br>
    <br>
    DIRECCIÓN INMUEBLE:<br>
    PRECIO VENTA:<br>
    ¿GASTOS SEGÚN LEY?:<br>
    ¿CARGAS REGISTRALES?<br>
    ¿HAY INSCRIPCIONES PREVIAS? (HERENCIAS, DECLARACIÓN OBRA NUEVA, ETC).<br>
    DÍA PREVISTO FIRMA<br>
    NOTARÍA ELEGIDA<br>
    <br>
    <br>
    <h4>4.-DOCUMENTACIÓN NECESARIA:</h4>
    <br>
    <br>
    
    ESCRITURAS COMPRAVENTA<br>
    IBI<br>
    NOTA SIMPLE<br>
    CERTIFICADOS DEUDAS PENDIENTES<br>
    DNI INTERVINIENTES<br>
    <br>
    <br>
    
    Saludos.
    <br>
{% else %}
    <br>
    Hola,
    <br>
    <br>
    Adjunto documentación del cliente de referencia.
    <br>
    <br>
    Saludos.
    <br>
{% endif %}