<div aria-modal="true" aria-labelledby="modal-confirmar-duplicar-titulo" class="modal fade" id="modal-confirmar-duplicar" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-confirmar-duplicar-titulo">Confirmar duplicar</h5>
				<button aria-label="Close" class="close" data-dismiss="modal" type="button">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<p>¿Esta seguro?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success waves-effect" id="modal-confirmar-duplicar-si" type="button">Si</button>
				<button class="btn btn-success waves-effect" data-dismiss="modal" type="button">No</button>
			</div>
		</div>
	</div>
</div>