<div class="modal fade show" id="modal-notificacion">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-notificacion-titulo"></h4>
				<button class="close" data-dismiss="modal" type="button">×</button>
			</div>
			<div class="modal-body" id="modal-notificacion-texto"></div>
			<div class="modal-footer">
				<button class="btn btn-danger waves-effect mr-3" data-dismiss="modal" id="modal-notificacion-marcar-no-leida" type="button">Marcar como no leida</button>
				<button class="btn btn-success waves-effect" data-dismiss="modal" type="button">Cerrar</button>
				<a id="btnExpediente" class="btn btn-info waves-effect" style="margin-left:10px;display:none;" href="">Ir a expediente</a>
			</div>
		</div>
	</div>
</div>