<li class="nav-item dropdown mega-dropdown">
	<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" href="javascript:void(0)">
		<i class="ti-layout-width-default"></i>
	</a>
	<div class="dropdown-menu animated bounceInDown">
		<ul class="mega-dropdown-menu row">
			<li class="col-lg-3 col-xlg-2 m-b-30">
				<h4 class="m-b-20">CAROUSEL</h4>
				<div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="container">
								<img alt="First slide" class="d-block img-fluid" src="{{ asset('assets/images/big/img1.jpg') }}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="container">
								<img alt="Second slide" class="d-block img-fluid" src="{{ asset('assets/images/big/img2.jpg') }}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="container">
								<img alt="Third slide" class="d-block img-fluid" src="{{ asset('assets/images/big/img3.jpg') }}">
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls" role="button">
						<span aria-hidden="true" class="carousel-control-prev-icon"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" data-slide="next" href="#carouselExampleControls" role="button">
						<span aria-hidden="true" class="carousel-control-next-icon"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</li>
			<li class="col-lg-3 m-b-30">
				<h4 class="m-b-20">ACCORDION</h4>
				<div aria-multiselectable="true" class="nav-accordion" id="accordion" role="tablist">
					<div class="card">
						<div class="card-header" id="headingOne" role="tab">
							<h5>
								<a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">Collapsible Group Item #1</a>
							</h5>
						</div>
						<div aria-labelledby="headingOne" class="collapse show" id="collapseOne" role="tabpanel">
							<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high.</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo" role="tab">
							<h5>
								<a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Collapsible Group Item #2</a>
							</h5>
						</div>
						<div aria-labelledby="headingTwo" class="collapse" id="collapseTwo" role="tabpanel">
							<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree" role="tab">
							<h5>
								<a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Collapsible Group Item #3</a>
							</h5>
						</div>
						<div aria-labelledby="headingThree" class="collapse" id="collapseThree" role="tabpanel">
							<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
						</div>
					</div>
				</div>
			</li>
			<li class="col-lg-3 m-b-30">
				<h4 class="m-b-20">CONTACT US</h4>
				<form>
					<div class="form-group">
						<input class="form-control" id="exampleInputname1" placeholder="Enter Name">
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Enter email" type="email">
					</div>
					<div class="form-group">
						<textarea class="form-control" id="exampleTextarea" placeholder="Message" rows="3"></textarea>
					</div>
					<button class="btn btn-info">Submit</button>
				</form>
			</li>
			<li class="col-lg-3 col-xlg-4 m-b-30">
				<h4 class="m-b-20">List style</h4>
				<ul class="list-style-none">
					<li>
						<a href="javascript:void(0)">
							<i class="fa fa-check text-success"></i>
							<span> You can give link</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="fa fa-check text-success"></i>
							<span> Give link</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="fa fa-check text-success"></i>
							<span> Another Give link</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="fa fa-check text-success"></i>
							<span> Forth link</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="fa fa-check text-success"></i>
							<span> Another fifth link</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</li>